

.register-form{
    margin: 0px auto;
    border: 1px solid lightgray;
    padding: 27px;
    border-radius: 10px;
}
.form-group {
    margin-bottom: 1.8rem !important;
}
.register-logo>img{
    width: 200px;
    display: block;
    margin: 18px auto;
}
