.single-registered-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.options img{
    width: 235px;
    height: 220px;
    border-radius: 10px;
}
.options{
    background: #e3e3e3;
    border-radius: 10px;
    box-sizing: border-box;
}